
.navigationBg{
  width: 100%;
  height: 100vh;
  background-color: #142845;
}
.navigation{
  padding: 1.5rem 0;
}
.logo h1{
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.navigationList ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigationList ul li{
  color: white;
  font-size: 16px;
  margin: 10px 30px 0 0;
  font-weight: 600;
}